.weater-window {

    &__footer {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;
        min-height: 100%;
    }

    &__information {
        padding-top: 10%;
    }

    &__temperature {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__temperature-text {
        font-size: 140rem;

    }
}

.weater-title {
    padding-bottom: 5rem;
    padding-top: 15rem;
    font-size: 30rem;
}
.weater-info {
    font-size: 25rem;
}