.weater-window {

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items:  flex-end;
        height: 100rem;

    }

    &__city {
        font-size: 30rem;
        padding-right: 150rem; 
       }


    &__date {
        font-size: 25rem;
    }
}